 .container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.item {
    border-width: 2px;
    border-color: hotpink;
}

/**********************************************************/
/*Defino los items de la grilla     */
/**********************************************************/
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}


.grid-container {
    display: grid;
    grid-template-areas: 'header''header'
                          'main main main main'
                          'main main'
                          'main main main'
                         'footer footer';
}
@media only screen and (max-width: 570px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header'
                             'menu'
                             'content'
                             'footer';
    }
}