

/*.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}*/

  
body {
  background-color: lightgreen;
}


/**********************************************************/
/*Defino los items de la grilla     */
/**********************************************************/
.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header header menu menu menu menu'
       'main main main main main main'
      'footer footer ';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  @media only screen and (max-width: 570px) {
    .grid-container {
        display: grid;
        grid-template-areas: 'header header header header header header'
                             'menu main main main main main'
              
                             'footer footer';
    }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    img {width: 100%;}
