/*
esto es un comentario
*/ 


*{
    background-color:white;
    color:black;
    margin-top: 0px;
    margin-left: 0px;
}
@import url(index.css);

/* */


.header{
    position: sticky;
    top:0%;
    color:black;
    font-size:18px;
    font-family: 'Nunito', sans-serif;
}


.main
{   position:static;
    color:black;
    font-size:  15px;
    font-family: 'Nunito Sans', sans-serif;
    
}
input[required]{
    background-color: rgb(219, 219, 219);
}

.footer{
    position: relative;
    bottom:0%;
    background-color:rgb(42, 22, 97);
    color:white;
    font-size:15px;
    font-family: 'Nunito', sans-serif;
}


    a:hover {
        color:slateblue; }
        a:active{
            background-color:slateblue; ;color:white;
        }
/*table {position: relative;}
td {padding-top: 15px;
    margin-bottom: 20px;
    border-style: dotted;
    
    }*/

div { border-style: dotted;}
    img {opacity: 1;

    /*animation-name: changeOpacity;
    animation-duration: 2s;
}

    @keyframes changeOpacity{
    from {opacity:1}
    to {opacity:0.3}*/
}

.item {
    border-width: 2px;
    border-color: hotpink;}

.item img:hover
{
    opacity: 0.2;
transition-duration: 1s;
transition-timing-function: ease-out;
}
p:first-child {opacity: 1;
    transition-duration: 0s;}
/*header {
    display: none;
    flex-direction: row;
    }
    
    @media only screen and (min-width: 600px) {
        header{
            display: flex;
        }
    }
/*@import url(header.css);*/

/*background:rgb(69, 56, 151)*/ 
   

/*provisoriamente le ponemos a IMAGENES un borde punteado para delimitarlas claramente durante el rpocesos de diseño
img{border-style: dotted;}*/

/* a continuación tenemos un selector super es[pecifico sin ir a class ni Id: lo encontré con F12 haciendo click sobre el elemto, copiar / copiar selector (ojo que hay que mantener la ruta como ruta absoluta)
body > main > table:nth-child(6) > tbody > tr > td:nth-child(2) > img
{border-style: double;} */