/*
esto es un comentario
*/ 

   



* {
    box-sizing: border-box;
  }/*
  @import url(index.css);
  
 
*{
    background-color:white;
    color:black;
    margin-top: 0px;
    margin-left: 0px;
}*/
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  


/*
.col-3 header {position: sticky;}
.col-9 menu {position: sticky;}*/

  
.header{
    position: sticky;
    border-style: dotted;
    padding:15px;
    top:0%;
    color:black;
    background-color: white;
    font-size:18px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    
}


.menu{
    position: sticky;
    border-style: dotted;
    padding:15px;
    top:0%;
    color:black;
    background-color: white;
    font-size:18px;
    font-family: 'Nunito', sans-serif;
    text-align: right;
}
.main
{   position:static;
    border-style: dotted;
    color:black;
    font-size:  15px;
    font-family: 'Nunito Sans', sans-serif;}

input[required]{
    background-color: rgb(219, 219, 219);
}

.footer{
    position: relative;
    border-style: dotted;
    bottom:0%;
    background-color:rgb(42, 22, 97);
    color:white;
    font-size:15px;
    font-family: 'Nunito', sans-serif;
}
.item {
    border-width: 2px;
    border-color: hotpink;
    display: inline;}

    a:hover {
        color:slateblue; }
        a:active{
            background-color:slateblue; ;color:white;
        }
/*table {position: relative;}
td {padding-top: 15px;
    margin-bottom: 20px;
    border-style: dotted;
    
    }*/
img {opacity: 1;
        max-width: 100%;
        height: auto;
        position: top; 
    
}
    /*animation-name: changeOpacity;
    animation-duration: 2s;
}

    @keyframes changeOpacity{
    from {opacity:1}
    to {opacity:0.3}*/




.item img:hover
{
    opacity: 0.2;
transition-duration: 1s;
transition-timing-function: ease-out;
}

/*header {
    display: none;
    flex-direction: row;
    }
    @import url(index.css);
    @media only screen and (min-width: 600px) {
        header{
            display: flex;
        }
    }
/*@import url(header.css);*/

/*background:rgb(69, 56, 151)*/ 
   

/*provisoriamente le ponemos a IMAGENES un borde punteado para delimitarlas claramente durante el rpocesos de diseño
img{border-style: dotted;}*/

/* a continuación tenemos un selector super es[pecifico sin ir a class ni Id: lo encontré con F12 haciendo click sobre el elemto, copiar / copiar selector (ojo que hay que mantener la ruta como ruta absoluta)
body > main > table:nth-child(6) > tbody > tr > td:nth-child(2) > img
{border-style: double;} */